body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

/* LIGHT MODE */
body:not(.dark) {
  background: linear-gradient(
    180deg,
    rgba(245, 245, 247, 0.9),
    rgba(230, 230, 235, 0.9)
  );
  color: #000 !important;
}

/* DARK MODE */
body.dark {
  background: linear-gradient(
    180deg,
    rgba(18, 18, 18, 0.95),
    rgba(10, 10, 10, 0.95)
  );
  color: #fff !important;
}
